.banner {
  color:white;
  height:480px;
  background:black;
  .page & {
    background:black;
  }
  position:relative;

  @include gs-media (m) {
    @include gs-span(m, all);
  }

  @include gs-media (t, min-max) {
    @include gs-span(t, all);
  }

    @include gs-media (d) {
      @include gs-span(d,all);
        &.is-hidden {
          display:none;
        }
    }
    h1 {
      @include gs-media (m) {
        @include gs-span(m,all);
        z-index: 9;
        position: relative;
        font-size:36px;
        line-height:42px;
                letter-spacing:4px;
        padding-top: $base-line-height * 6;
        padding-bottom: $base-line-height * 6;
        }
      @include gs-media (t, min-max) {
        @include gs-span(t,2, 7);
        z-index: 9;
        position: relative;
        font-size:54px;
        line-height:60px;
                letter-spacing:4px;
        padding-top: $base-line-height * 18;
        padding-bottom: $base-line-height * 18;
        }

      @include gs-media (d) {
        @include gs-span(d,3, 10);
        z-index: 9;
        position: relative;
        font-size:54px;
        line-height:60px;
        letter-spacing:4px;
        font-weight:300;
        padding-top: $base-line-height * 18;
        padding-bottom: $base-line-height * 18;
        }
      }
    p.intro {
      @include gs-media (m) {
        font-size: 24px;
        line-height:36px;
        @include gs-span(m,all);
        @include padding-leader(4);
        @include padding-trailer(4);
      }

      @include gs-media (t, min-max) {
        z-index: 9;
        position: relative;
        font-size: 24px;
        line-height:36px;
        @include gs-span(t,2, 7);
        padding-top: $base-line-height * 9;
        padding-bottom: $base-line-height * 9;
        clear:left;
      }
      @include gs-media (d) {
        z-index: 9;
        position: relative;
        font-size: 24px;
        line-height:36px;
        @include gs-span(d,3, 10);
        padding-top: $base-line-height * 9;
        padding-bottom: $base-line-height * 9;
        clear:left;
        }
    }
}

.menu-collapsed {
  position:relative;
  h1 {
    padding-top: $base-line-height * 16;
    padding-bottom: $base-line-height * 16;

  }
}

.header {
    position: relative;
    background: url(../images/menu-back.png)  no-repeat;
    display: block;
    float: left;
    height: 155px;
    z-index: 9;
}