@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "gridset";
@import "variables";
@import "mixins";
@import "utilities";
@import "typography";

.row {
  @include gs-span(d, all);
}

  .wrapper {
      margin: 0 auto;
      width: 90%;
      float: none;
      max-width: 1400px;
      background:black;
      overflow:hidden;
    }

img {
  max-width: 100%;
  height: auto;
  width:100%;
  max-height:960px;
} 

// .video-post .circle {
//   @include circle(500px);
// }

.video {
  position:relative;
  width:100%;
  overflow:visible;
}


header.banner {

  // @include gs-media (m) {
  //   @include padding-leader(3);
  //   @include gs-span(m, all);
  //   @include padding-trailer(3);
  // }

  @include gs-media (t, min-max) {
    @include padding-leader(6);
    @include gs-span(t, all);
    @include padding-trailer(6);
  }

  @include gs-media (d) {
    @include padding-leader(8);
    @include gs-span(d,all);
    h1 {
      @include gs-span(d,3, 10);
    }
    p.intro {
      @include gs-media (m) {
        font-size: 24px;
        line-height:36px;
        @include gs-span(d,1, 4);
        @include padding-leader(4);
        @include padding-trailer(4);
      }
      @include gs-media (d) {
        font-size: 36px;
        line-height:48px;
        @include gs-span(d,3, 10);
        @include padding-leader(8);
        }
    }
  }
}

.header {
    position: relative;
    background: url(../images/menu-back.png)  no-repeat;
    display: block;
    float: left;
    height: 155px;
    z-index: 9;
}

.content-wrapper {
//margin-top: -150px;
}

.content-video {
position:relative;
    @include gs-span(d,all);
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 0 auto;
  left: 46%;
  top: 100px;
  z-index: 4;
  background:white;
  color:black;
}

.play-btn {
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  cursor: pointer;
  margin-left: -200px;
  margin-top: -200px;
  top: 50%;
  left: 50%;
  z-index: 4;
}

@include gs-media (m) {
    .circle {
      @include circle(30px);
      .first {
        font-size:22px; 
        line-height:4px; 
        padding:0;
      }
    .second {
      font-size:22px; 
      line-height:6px; 
      padding:0; 
      padding-top:2px;
      }
    }
}

@include gs-media (t, min-max) {
    .circle {
      @include circle(60px);
    .first {
        font-size:52px; 
        line-height:0px; 
        padding:0;
      }
    .second {
      font-size:52px; 
      line-height:12px; 
      padding:0; 
      padding-top:6px;
      }
    }
}

@include gs-media (d) {
    .circle {
      @include circle(100px);
    .first {
        font-size:96px; 
        line-height:0px; 
        padding:0;
      }
    .second {
      font-size:96px; 
      line-height:6px; 
      padding:0; 
      padding-top:12px;
      }
    }
}
footer.footer {
  background:white;
  @include margin-leader(2);

  a {
    color: black;
    font-size:24px;
  }
}
  .links {
      @include gs-media (d) {
      @include padding-leader(8);
      @include gs-span(d,all);

      li {
        width:33%;
        float:left;
        display:inline;
        text-align:center;

        a {
          font-weight:700;
          font-size:18px;
          line-height:30px;
        }
      }
    }
  }

    /* sexy */


    /* simple */
    .flip-container {
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      perspective: 1000;
    }

      
 .flip-container.flip .flipper {
         -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        transform: rotateY(180deg);
}


    .flip-container, .front, .back {
      width: 400px;
      height: 400px;
    }

    .flipper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;

      -moz-transition: 0.6s;
      -moz-transform-style: preserve-3d;
      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
    }

    .front, .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      background: white;
      z-index: 2;
      @include circle(400px);

      .text {
        font-size: 1em;
        color:black;
        top: 33%;
        left: 33%;
        position: absolute;
          p {
            padding-bottom:42px;
            text-align:center;
          }
      }
    }

    .back {
      background: black;
            @include circle(400px);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
         .text {
        font-size: 1em;
        color:white;
        top: 33%;
        left: 30%;
        position: absolute;
          p {
            padding-bottom:42px;
            text-align:center;
          }
      }
    }


    .credit {
      font-style:italic;

      span {
      border-bottom: 1px dotted;
      }
    }    

    .client {
      font-weight:bold;
      font-size:18px;
    }

    .title {
    }

    .play {
      top: 120px;
    }

    .play-button {
      font-size: 5em;
      color:black;

      .back & {
        color:white;
      }

      &:hover {
        color:#ccc;
      }
    }

.is-hidden {
  display:none;
}
