@import "compass/css3";

.circle, .menu-active {

  @include gs-media (m) {
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    left: 46%;
    bottom: -22px;
    height: 48px;
    width: 48px;
    z-index:9;
    @include box-shadow(#EBEBEB 0px 30px 32px 4px);
  }

  @include gs-media (t, min-max) {
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    left: 48.5%;
    bottom: -36px; 
    height:48px;
    width:48px;
    z-index:9;
    @include box-shadow(#EBEBEB 0px 30px 32px 4px);
    }


  @include gs-media (d) {
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    left: 48.5%;
    bottom: -24px; 
    height:48px;
    width:48px;
    z-index:9;
    @include box-shadow(#EBEBEB 0px 30px 32px 4px);
    }

}

.play-btn {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin-left: -100px;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  z-index: 4;

  @include gs-media (t, min-max) {
      width: 300px;
      height: 300px;
      margin-left: -150px;
      margin-top: -150px;
  }

    @include gs-media (d) {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
  }

}

