.controls {
     @include gs-media (d) {
     @include gs-span(d,3, 10);
     padding-bottom:60px;
    }

    ul {

    	@include gs-media (d) {
     	@include gs-span(d, 3, 10, (3, 10));
    }

			li {
					display: inline;
					float: left;
					line-height: 42px;
					padding: 1em 0 0.75em 0;
					font-weight: 400;
					font-size: 24px;
					margin-right: 5px;

					&.filter:hover {
							cursor:pointer;
							color:grey;
					}
			}
    }
}


.filtered {
	padding-top:100px;

	.play-disk {
		display: block;
		position: relative;
		width: 100%;

		.play-button {
				margin-left: -35px;
				margin-top: -35px;
				display: inline;
				position: absolute;
				color:black;
				top: 50%;
				left: 50%;
				width: 70px;
				height: 70px;
				background: rgb(255, 255, 255);
				border-radius: 70px;
				font-size: 2em;
				line-height: 80px;
				text-align: center;
				text-indent: 5px;

				&:hover {
					color:grey;
				}
			}
		}

	ul {


	}
		li {

			 width: 25.3%;
      float: left;
      margin-left: 0;
      margin-right: 12%;
      display:inline;
      border-bottom:none;
      padding-bottom:90px;
			&:nth-of-type(3) {
				margin-right: 0;
			}
				&:nth-of-type(6) {
				margin-right: 0;
			}

				&:nth-of-type(9) {
				margin-right: 0;
			}

				&:nth-of-type(12) {
				margin-right: 0;
			}

				&:nth-of-type(15) {
				margin-right: 0;
			}
      img {
        border-radius: 190px;
      }



			.title {
				font-size:24px;
				line-height: 36px;
				font-weight: 400;
				letter-spacing: 4px;
				text-align: center;
				padding-top: 12px;
				padding-bottom:6px;

				a {
					color:white;
				}
			}

			.producer {
				font-size:18px;
				line-height: 30px;
				font-weight: 300;
				letter-spacing: 4px;
				text-align: center;

padding-bottom: 12px;
			}

			
		}


}