.latest-text {
  padding-top: 72px;

  clear:left;
  @include gs-media (m) {
    @include gs-span(m,all);
      padding-bottom: 12px;
  }

  @include gs-media (t, min-max) {
    @include gs-span(t,2, 7);
      padding-bottom: 12px;
  }

  @include gs-media (d) {
    @include gs-span(d,3, 10);
      padding-bottom: 12px;
  }

 h2 {
    @include gs-media (m) {
      @include gs-span(m,all);
      font-size: 36px;
      line-height:42px;
      text-align: center;
      padding-top: 0;
    }
    @include gs-media (t, min-max) {
      @include gs-span(t,2, 7);
      font-size: 60px;
      line-height:72px;
      text-align: center;
      padding-top: 0;
    }

    @include gs-media (d) {
      @include gs-span(d, all);
      font-size: 90px;
      line-height:90px;
      text-align: center;
      padding-top: 24px;
    }
  }

   h3 {
    font-family: "gill-sans-bold-display", "Gill Sans MT", sans-serif;
    @include gs-media (m) {
      @include gs-span(m,all);
     font-size: emCalc(24px);
      @include adjust-leading-to(4, 24px); 
      padding: rhythm(4, 24px) 0 rhythm(3, 24px) 0;  
      text-align: center;
    }
    @include gs-media (t, min-max) {
      @include gs-span(t,2, 7);
     font-size: emCalc(24px);
      @include adjust-leading-to(4, 24px); 
      padding: rhythm(4, 24px) 0 rhythm(3, 24px) 0;  
      text-align: center;
    }

    @include gs-media (d) {
      @include gs-span(d, all);
      font-size: emCalc(36px);
      @include adjust-leading-to(4, 36px); 
      padding: rhythm(4, 36px) 0 rhythm(3, 36px) 0;  
      text-align: center;
 
    }
  }

  p {
    text-align: center;
    clear:left;
    font-size: 24px;
    line-height:36px;

    @include gs-media (m) {
      @include gs-span(m,all);
      text-align: center;
      padding-top: 0;
      padding-bottom: 48px;
    }

    @include gs-media (t, min-max) {
      @include gs-span(t, 2, 7, (2, 7));
      padding-top: 0;
      padding-bottom: 48px;
    }

    @include gs-media (d) {
      @include gs-span(d, 4, 9, (3, 10));
      padding-top: 0;
      padding-bottom: 48px;
    }
  }
}