.people {

  h2 {
        font-size: 42px;
        line-height:56px;
        font-weight:600;
        text-align: center;
        padding-top: $base-line-height * 6;
        padding-bottom: $base-line-height * 6;
        letter-spacing:4px;
  }

        @include gs-media (m) {
        @include gs-span(m,all);
        }
      @include gs-media (t, min-max) {
        @include gs-span(t,all);
        }

      @include gs-media (d) {
        @include gs-span(d,all);

        }

   h3 {

      @include gs-media (m) {
        @include gs-span(m,all);
        font-size: 32px;
        line-height:42px;
        text-align: center;
        font-weight: 300;
        padding-top: $base-line-height * 3;
        padding-bottom: $base-line-height * 3;
        }
      @include gs-media (t, min-max) {
        @include gs-span(t,2, 7);
        font-size: 32px;
        line-height:42px;
        text-align: center;
        font-weight: 300;
        padding-top: $base-line-height * 3;
        padding-bottom: $base-line-height * 3;
        }

      @include gs-media (d) {
        @include gs-span(d, all);
        font-size: 32px;
        line-height:42px;
        text-align: center;
        font-weight: 300;
        padding-top: $base-line-height * 3;
        padding-bottom: $base-line-height * 3;
        }
    }

  p {
     @include gs-span(d, 4, 9, (3, 10));
    font-size: 24px;
    line-height:36px;
    text-align: center;
    clear:left;
    padding-top: $base-line-height * 6;
    padding-bottom: $base-line-height * 16;
  }
}