@import "compass/css3";
@include establish-baseline(16px);


html {
  overflow-y: scroll;
}

* {
  @include box-sizing(border-box);
}

@include font-face("Gill-Sans-Light", font-files("Gill-Sans/Gill-Sans-WFS-Light/Gill-Sans-WFS-Light.woff", "Gill-Sans/Gill-Sans-WFS-Light/Gill-Sans-WFS-Light.ttf", "Gill-Sans/Gill-Sans-WFS-Light/Gill-Sans-WFS-Light.svg", "Gill-Sans/Gill-Sans-WFS-Light/Gill-Sans-WFS-Light.eot"));

@include font-face("Gill-Sans-Light-Italic", font-files("Gill-Sans/Gill-Sans-WFS-Light-Italic/Gill-Sans-WFS-Light-Italic.woff", "Gill-Sans/Gill-Sans-WFS-Light-Italic/Gill-Sans-WFS-Light-Italic.ttf", "Gill-Sans/Gill-Sans-WFS-Light-Italic/Gill-Sans-WFS-Light-Italic.svg", "Gill-Sans/Gill-Sans-WFS-Light-Italic/Gill-Sans-WFS-Light-Italic.eot"));

@include font-face("Gill-Sans-Bold", font-files("Gill-Sans/Gill-Sans-WFS-Bold/Gill-Sans-WFS-Bold.woff", "Gill-Sans/Gill-Sans-WFS-Bold/Gill-Sans-WFS-Bold.ttf", "Gill-Sans/Gill-Sans-WFS-Bold/Gill-Sans-WFS-Bold.svg", "Gill-Sans/Gill-Sans-WFS-Bold/Gill-Sans-WFS-Bold.eot"));

@include font-face("Gill-Sans-Bold-Display", font-files("Gill-Sans/Gill-Sans-WFS-Display-Bold/Gill-Sans-WFS-Display-Bold.woff", "Gill-Sans/Gill-Sans-WFS-Display-Bold/Gill-Sans-WFS-Display-Bold.ttf", "Gill-Sans/Gill-Sans-WFS-Display-Bold/Gill-Sans-WFS-Display-Bold.svg", "Gill-Sans/Gill-Sans-WFS-Display-Bold/Gill-Sans-WFS-Display-Bold.eot"));

@include font-face("entypo", font-files("entypo/entypo.ttf", "entypo/entypo.otf", "entypo/entypo.eot", "entypo/entypo.woff"));

@include font-face("entypo-social", font-files("entypo-social/entypo-social.ttf", "entypo-social/entypo-social.svg" , "entypo-social/entypo-social.eot" , "entypo-social/entypo-social.woff"));

body {
  font-family: "Gill-Sans-Light", "Gill Sans MT", sans-serif;
  font-size: emCalc(16px);
  font-weight:300;
  color:black;
  min-width:320px;
  letter-spacing: 1px;
  @media screen and (min-width: 75em) {
    font-size: emCalc(18px) ; // 18  
  }
}

a {
  color: $primary;
  text-decoration: none;
}


h1 { 
  font-size:emCalc(36px); 
  @include adjust-leading-to(7, 36px); 
  // padding: rhythm(5, 36px) 0 rhythm(3, 36px) 0;  

  @include gs-media(t,min-max) {
    font-size: emCalc(54px); 
    @include adjust-leading-to(10, 54px); 
    // padding: rhythm(7, 54px) 0 rhythm(5, 54px) 0;  
  }
  
  @include gs-media(d) {
    font-size: emCalc(54px); 
    @include adjust-leading-to(10, 54px);
  // padding: rhythm(7, 54px) 0 rhythm(5, 54px) 0;  
  }
}

h2 { 
  font-size: emCalc(24px);
  @include adjust-leading-to(4, 24px); 
  padding: rhythm(12, 24px) 0 rhythm(3, 24px) 0;
  letter-spacing: 4px;

  @include gs-media(t,min-max) {
    font-size: emCalc(36px); 
    @include adjust-leading-to(7, 36px); 
    padding: rhythm(12, 36px) 0 rhythm(3, 36px) 0;   
   letter-spacing: 4px;
  }
  @include gs-media(d) {
    font-size: emCalc(36px); 
    @include adjust-leading-to(7, 36px); 
    padding: rhythm(12, 36px) 0 rhythm(3, 36px) 0;   
    letter-spacing: 4px;
  }
}

h3 { 
  font-size: emCalc(24px);
  @include adjust-leading-to(4, 24px); 
  padding: rhythm(4, 24px) 0 rhythm(3, 24px) 0;   
}

h4 { 
  font-size: emCalc(18px); 
  @include adjust-leading-to(3, 18px); 
  padding: rhythm(4, 18px) 0 rhythm(3, 18px) 0;   
  
  @media screen and (min-width: 75em) {
    font-size: emCalc(24px); 
    @include adjust-leading-to(4, 24px); 
    padding: rhythm(4, 24px) 0 rhythm(3, 24px) 0;   
  }
}

h5, h6 { 
  font-size: emCalc(16px); 
  @include adjust-leading-to(3, 16px); 
  padding: rhythm(4, 16px) 0 rhythm(3, 16px) 0;   

  @media screen and (min-width: 75em) {
    font-size: emCalc(18px); 
    @include adjust-leading-to(3, 18px); 
    padding: rhythm(4, 18px) 0 rhythm(3, 18px) 0;   
  }
}

p {
  font-size:1rem;
  line-height:24px;
}

.title {
  font-weight: 500;
}

aside {
  img {
    width: 100%;
  }
}

.icon {
  font-family: "entypo";
}

.icon-social {
  font-family: "entypo-social";
}