<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Soup Factory</title>
<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=0, initial-scale=1">

<!-- Gridset CSS -->
<!--[if (!IE) | (gt IE 9)]><!--><link rel="stylesheet" href="{{ site.url }}assets/css/gridset.css" /><!--<![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="{{ site.url }}assets/css/gridset-ie-9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}assets/css/gridset-ie-lte8.css" /><![endif]-->
<link rel="stylesheet" href="{{ site.url }}assets/css/screen.css" />
<link rel="stylesheet" href="{{ site.url }}assets/css/bigvideo.css" />
 <script src="{{ site.url }}assets/js/modernizr-2.5.3.min.js"></script>
</head>
<body class="{{ page.name }}">
<header class="banner">
  <div class="wrapper">
  <h1 class="centered"><a href="{{site.url}}">SOUP FACTORY</a></h1>
  {% if page.name == "home" %}
  <nav class="menu"> 
    <ul>
      <li><A href="{{ site.url }}directors/">DIRECTORS</A></li>
      <li><A href="/{{ site.url }}ork/">WORK</A></li>
      <li><A href="/contact/">CONTACT</A></li>
    </ul>
  </nav>
  {% else if  %}
  <nav class="menu-normal"> 
    <ul>
      <li><A href="{{ site.url }}directors/">DIRECTORS</A></li>
      <li><A href="{{ site.url }}work/">WORK</A></li>
      <li><A href="{{ site.url }}contact/">CONTACT</A></li>
    </ul>
  </nav>
  {% endif %}
    <nav class="circle centered" > 
    <img src="{{ site.url }}assets/images/menu-button-white.png" />
  </nav>
  </div>
  
  
</header>