/* line 17, ../sass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../sass/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../sass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../sass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../sass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../sass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 104, ../sass/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../sass/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 61, ../sass/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../sass/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 0.375em;
}

/* line 4, ../sass/_typography.scss */
body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  background: black;
  color: white;
  font-size: 1em;
  min-width: 320px;
}
@media screen and (min-width: 75em) {
  /* line 4, ../sass/_typography.scss */
  body {
    font-size: 1.125em;
  }
}

@font-face {
  font-family: "entypo";
  src: url('/stylesheets/fonts/fonts/entypo/entypo.ttf') format('truetype'), url('/stylesheets/fonts/fonts/entypo/entypo.otf') format('opentype'), url('/stylesheets/fonts/fonts/entypo/entypo.eot') format('embedded-opentype'), url('/stylesheets/fonts/fonts/entypo/entypo.woff') format('woff');
}

@font-face {
  font-family: "entypo-social";
  src: url('/stylesheets/fonts/fonts/entypo-social/entypo-social.ttf') format('truetype'), url('/stylesheets/fonts/fonts/entypo-social/entypo-social.svg') format('svg'), url('/stylesheets/fonts/fonts/entypo-social/entypo-social.eot') format('embedded-opentype'), url('/stylesheets/fonts/fonts/entypo-social/entypo-social.woff') format('woff');
}

/* line 19, ../sass/_typography.scss */
.example {
  font-family: "Blooming Grove";
  font-size: 1.5em;
}

/* line 23, ../sass/_typography.scss */
a {
  color: white;
  text-decoration: none;
}
/* line 28, ../sass/_typography.scss */
a:hover {
  color: #757575;
}

/* line 35, ../sass/_typography.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.16667em;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 35, ../sass/_typography.scss */
  h1 {
    font-size: 3.375em;
    line-height: 1.11111em;
  }
}
@media only screen and (min-width: 960px) {
  /* line 35, ../sass/_typography.scss */
  h1 {
    font-size: 3.375em;
    line-height: 1.11111em;
  }
}

/* line 51, ../sass/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 1em;
  padding: 1em 0 0.75em 0;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 51, ../sass/_typography.scss */
  h2 {
    font-size: 2.25em;
    line-height: 1.16667em;
    padding: 0.66667em 0 0.5em 0;
  }
}
@media only screen and (min-width: 960px) {
  /* line 51, ../sass/_typography.scss */
  h2 {
    font-size: 2.25em;
    line-height: 1.16667em;
    padding: 0.66667em 0 0.5em 0;
  }
}

/* line 67, ../sass/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  padding: 1em 0 0.75em 0;
}

/* line 72, ../sass/_typography.scss */
h4 {
  font-size: 1.125em;
  line-height: 1em;
  padding: 1.33333em 0 1em 0;
}
@media screen and (min-width: 75em) {
  /* line 72, ../sass/_typography.scss */
  h4 {
    font-size: 1.5em;
    line-height: 1em;
    padding: 1em 0 0.75em 0;
  }
}

/* line 83, ../sass/_typography.scss */
h5, h6 {
  font-size: 1em;
  line-height: 1.125em;
  padding: 1.5em 0 1.125em 0;
}
@media screen and (min-width: 75em) {
  /* line 83, ../sass/_typography.scss */
  h5, h6 {
    font-size: 1.125em;
    line-height: 1em;
    padding: 1.33333em 0 1em 0;
  }
}

/* line 96, ../sass/_typography.scss */
.title {
  font-weight: 500;
}

/* line 101, ../sass/_typography.scss */
aside img {
  width: 100%;
}

/* line 106, ../sass/_typography.scss */
p.leader {
  font-size: 1.125em;
}
@media only screen and (min-width: 960px) {
  /* line 106, ../sass/_typography.scss */
  p.leader {
    font-size: 1.5em;
  }
}

/* line 113, ../sass/_typography.scss */
.icon {
  font-family: "entypo";
}

/* line 117, ../sass/_typography.scss */
.icon-social {
  font-family: "entypo-social";
}

/* line 1, ../sass/_layout.scss */
.row {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}

/* line 5, ../sass/_layout.scss */
.wrapper {
  margin: 0 auto;
  width: 90%;
  float: none;
  max-width: 1400px;
  overflow: hidden;
}

/* line 13, ../sass/_layout.scss */
img {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 960px;
}

/* line 23, ../sass/_layout.scss */
.latest-activity {
  background: white;
}

/* line 27, ../sass/_layout.scss */
.content-video, .latest-tweet {
  position: relative;
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1, ../sass/_menu.scss */
  .links {
    padding-top: 54px;
    padding-bottom: 72px;
    display: block;
    float: left;
    margin-left: 12.89063%;
    margin-right: -100%;
    width: 74.21875%;
  }
  /* line 8, ../sass/_menu.scss */
  .banner .links {
    position: relative;
    z-index: 9;
  }
  /* line 13, ../sass/_menu.scss */
  .links li {
    width: 33%;
    float: left;
    display: inline;
    text-align: center;
  }
  /* line 19, ../sass/_menu.scss */
  .links li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 1, ../sass/_menu.scss */
  .links {
    padding-top: 54px;
    padding-bottom: 288px;
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
  /* line 31, ../sass/_menu.scss */
  .banner .links {
    position: relative;
    z-index: 9;
  }
  /* line 36, ../sass/_menu.scss */
  .links li {
    width: 33%;
    float: left;
    display: inline;
    text-align: center;
  }
  /* line 42, ../sass/_menu.scss */
  .links li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 3, ../sass/_circle.scss */
  .circle {
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    left: 42%;
    bottom: -36px;
    background: url(menu-button.gif) no-repeat;
    height: 72px;
    width: 72px;
    z-index: 9;
    box-shadow: 0px 4px 4px #999;
  }
}
@media only screen and (min-width: 960px) {
  /* line 3, ../sass/_circle.scss */
  .circle {
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    left: 48%;
    bottom: -36px;
    background: url(menu-button.gif) no-repeat;
    height: 72px;
    width: 72px;
    z-index: 9;
    box-shadow: 0px 4px 4px #999;
  }
}

/* line 34, ../sass/_circle.scss */
.play-btn {
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  cursor: pointer;
  margin-left: -200px;
  margin-top: -200px;
  top: 50%;
  left: 50%;
  z-index: 4;
}

/* line 5, ../sass/_video.scss */
.video {
  position: relative;
  width: 100%;
  overflow: visible;
}

/* line 1, ../sass/_video-info.scss */
.video-info {
  background: white;
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  color: black;
}

@media only screen and (min-width: 960px) {
  /* line 7, ../sass/_video-info.scss */
  .video-text, .latest-text {
    display: block;
    float: left;
    margin-left: 17.08333%;
    margin-right: -100%;
    width: 65.83333%;
  }
}

@media only screen and (min-width: 960px) {
  /* line 14, ../sass/_video-info.scss */
  .video-title, .video-details, .directors-profile {
    font-size: 36px;
    line-height: 48px;
    padding-top: 3em;
    clear: left;
    text-align: center;
  }
}

@media only screen and (min-width: 960px) {
  /* line 25, ../sass/_video-info.scss */
  .video-social {
    font-size: 5em;
    display: block;
    float: left;
    margin-left: 85.41667%;
    margin-right: -100%;
    width: 14.58333%;
    padding-top: 3em;
    text-align: center;
  }
}

/* sexy */
/* simple */
/* line 5, ../sass/_flipper.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

/* line 12, ../sass/_flipper.scss */
.flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 19, ../sass/_flipper.scss */
.flip-container, .front, .back {
  width: 400px;
  height: 400px;
}

/* line 24, ../sass/_flipper.scss */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 35, ../sass/_flipper.scss */
.flipper .close {
  display: block;
  background: black;
  border-radius: 10px;
  font-size: 3em;
  position: absolute;
  height: 60px;
  top: 5%;
  right: 15%;
  padding: 12px;
}

/* line 49, ../sass/_flipper.scss */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 58, ../sass/_flipper.scss */
.front {
  background: white;
  z-index: 2;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
/* line 63, ../sass/_flipper.scss */
.front .text {
  font-size: 1em;
  color: black;
  top: 33%;
  left: 33%;
  position: absolute;
}
/* line 69, ../sass/_flipper.scss */
.front .text p {
  padding-bottom: 42px;
  text-align: center;
}

/* line 76, ../sass/_flipper.scss */
.back {
  background: black;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 82, ../sass/_flipper.scss */
.back .text {
  font-size: 1em;
  color: white;
  top: 33%;
  left: 30%;
  position: absolute;
}
/* line 88, ../sass/_flipper.scss */
.back .text p {
  padding-bottom: 42px;
  text-align: center;
}

/* line 96, ../sass/_flipper.scss */
.credit {
  font-style: italic;
}
/* line 99, ../sass/_flipper.scss */
.credit span {
  border-bottom: 1px dotted;
}

/* line 104, ../sass/_flipper.scss */
.client {
  font-weight: bold;
  font-size: 18px;
}

/* line 112, ../sass/_flipper.scss */
.play {
  top: 120px;
}

/* line 116, ../sass/_flipper.scss */
.play-button {
  font-size: 5em;
  color: black;
}
/* line 120, ../sass/_flipper.scss */
.back .play-button {
  color: white;
}
/* line 124, ../sass/_flipper.scss */
.play-button:hover {
  color: #ccc;
}

@media only screen and (min-width: 960px) {
  /* line 2, ../sass/_twitter.scss */
  .latest-tweet .twitter, .latest-tweet .date, .latest-tweet .tweet {
    display: block;
    float: left;
    margin-left: 17.08333%;
    margin-right: -100%;
    width: 65.83333%;
    clear: left;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 2, ../sass/_twitter.scss */
  .latest-tweet .twitter, .latest-tweet .date, .latest-tweet .tweet {
    display: block;
    float: left;
    margin-left: 12.89063%;
    margin-right: -100%;
    width: 74.21875%;
    clear: left;
    text-align: center;
  }
}
/* line 16, ../sass/_twitter.scss */
.latest-tweet .twitter {
  color: white;
  font-size: 6em;
  padding-top: 72px;
  padding-bottom: 24px;
  line-height: 48px;
}
/* line 24, ../sass/_twitter.scss */
.latest-tweet .date {
  font-size: 24px;
  line-height: 36px;
  padding-top: 24px;
  padding-bottom: 18px;
}
/* line 32, ../sass/_twitter.scss */
.latest-tweet .tweet {
  padding-top: 2em;
  font-size: 18px;
  line-height: 30px;
  padding-top: 18px;
  padding-bottom: 72px;
}

/* line 1, ../sass/_latest-text.scss */
.latest-text {
  color: black;
}
/* line 3, ../sass/_latest-text.scss */
.latest-text h2 {
  font-size: 90px;
  line-height: 90px;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 36px;
}
/* line 11, ../sass/_latest-text.scss */
.latest-text p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 96px;
}

/* line 1, ../sass/_banner.scss */
header.banner {
  position: relative;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/_banner.scss */
  header.banner {
    padding-top: 1.125em;
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    padding-bottom: 1.125em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1, ../sass/_banner.scss */
  header.banner {
    padding-top: 2.25em;
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    padding-bottom: 2.25em;
  }
}
@media only screen and (min-width: 960px) {
  /* line 1, ../sass/_banner.scss */
  header.banner {
    padding-top: 3em;
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
  /* line 19, ../sass/_banner.scss */
  header.banner.is-hidden {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 23, ../sass/_banner.scss */
  header.banner h1 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    z-index: 9;
    position: relative;
    font-size: 54px;
    line-height: 60px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 23, ../sass/_banner.scss */
  header.banner h1 {
    display: block;
    float: left;
    margin-left: 12.89063%;
    margin-right: -100%;
    width: 74.21875%;
    z-index: 9;
    position: relative;
    font-size: 54px;
    line-height: 60px;
    padding-top: 144px;
    padding-bottom: 54px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 23, ../sass/_banner.scss */
  header.banner h1 {
    display: block;
    float: left;
    margin-left: 17.08333%;
    margin-right: -100%;
    width: 65.83333%;
    z-index: 9;
    position: relative;
    font-size: 54px;
    line-height: 60px;
    padding-top: 144px;
    padding-bottom: 54px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 53, ../sass/_banner.scss */
  header.banner p.intro {
    font-size: 24px;
    line-height: 36px;
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 31.66667%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 53, ../sass/_banner.scss */
  header.banner p.intro {
    z-index: 9;
    position: relative;
    font-size: 24px;
    line-height: 36px;
    display: block;
    float: left;
    margin-left: 12.89063%;
    margin-right: -100%;
    width: 74.21875%;
    padding-top: 54px;
    padding-bottom: 54px;
    clear: left;
  }
}
@media only screen and (min-width: 960px) {
  /* line 53, ../sass/_banner.scss */
  header.banner p.intro {
    z-index: 9;
    position: relative;
    font-size: 24px;
    line-height: 36px;
    display: block;
    float: left;
    margin-left: 17.08333%;
    margin-right: -100%;
    width: 65.83333%;
    padding-top: 54px;
    padding-bottom: 54px;
    clear: left;
  }
}

/* line 85, ../sass/_banner.scss */
.menu-collapsed {
  position: relative;
}
/* line 87, ../sass/_banner.scss */
.menu-collapsed h1 {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* line 94, ../sass/_banner.scss */
.header {
  position: relative;
  background: url(../images/menu-back.png) no-repeat;
  display: block;
  float: left;
  height: 155px;
  z-index: 9;
}

/* line 1, ../sass/_footer.scss */
footer.footer {
  background: white;
  margin-top: 0.75em;
}
/* line 5, ../sass/_footer.scss */
footer.footer a {
  color: black;
  font-size: 24px;
}

/* line 8, ../sass/_utilities.scss */
.centered {
  text-align: center;
}

/* line 11, ../sass/_utilities.scss */
.alignright {
  text-align: right;
}

/* line 14, ../sass/_utilities.scss */
.alignleft {
  text-align: left;
}

/* line 17, ../sass/_utilities.scss */
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

/* line 27, ../sass/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/_utilities.scss */
.show, .block {
  display: block;
}

/* line 35, ../sass/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 40, ../sass/_utilities.scss */
.no-bullet {
  list-style: none;
  padding: 0;
}

/* line 46, ../sass/_utilities.scss */
.no-bullet li {
  list-style: none;
  padding: 0;
}

/* line 52, ../sass/_utilities.scss */
.display-inline {
  display: inline-block;
}
/* line 55, ../sass/_utilities.scss */
.display-inline li {
  display: inline-block;
}

/* line 61, ../sass/_utilities.scss */
.clear-left {
  clear: left;
}

/* line 63, ../sass/_utilities.scss */
.clear-right {
  clear: right;
}

/* line 65, ../sass/_utilities.scss */
.clear-all, .clear-both {
  clear: both;
}

/* ::State styles */
/* ------------------------------------------------------------ */
/* line 81, ../sass/_utilities.scss */
.is-hidden {
  display: none;
}

/* line 85, ../sass/_utilities.scss */
.is-shown, .is-block {
  display: block;
}

/* line 89, ../sass/_utilities.scss */
.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 94, ../sass/_utilities.scss */
.is-lowercase {
  text-transform: lowercase;
}

/* line 98, ../sass/_utilities.scss */
.ajust-margin-top {
  margin-top: 0px;
}

@media only screen and (max-width: 767px) {
  /* line 104, ../sass/_utilities.scss */
  .is-removed-mobile {
    visibility: visible;
    height: 0px;
    overflow: hidden;
  }

  /* line 110, ../sass/_utilities.scss */
  .is-hidden {
    display: none;
  }
}
/* line 117, ../sass/_utilities.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 121, ../sass/_utilities.scss */
.group:after {
  clear: both;
}

/* line 124, ../sass/_utilities.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 133, ../sass/_utilities.scss */
.cf {
  zoom: 1;
}

/* line 137, ../sass/_utilities.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 141, ../sass/_utilities.scss */
.cf:after {
  clear: both;
}

/* Media on panel */
/* ------------------------------------------------------------ */
/* line 152, ../sass/_utilities.scss */
.media-on-panel span {
  margin: -5px 0px 12px 0px;
}
